<h1>{{title}}</h1>
<div>Consultant</div>

	<h2>Nom :{{unConsultant.Prenom}} {{unConsultant.Nom}}</h2>
	<div>Competences :{{unConsultant.Competences}}</div>
	<div>Projets :{{unConsultant.Projets}}</div>
	<div>
		<a href="/edit/{{this._id}}">Modifier</a> &nbsp;
		<a href="/delete/{{this._id}}">Supprimer</a>
	</div>


